@import "../../styles/breakpoints";

.portfolio {
  @include xl {
    min-height: 100vh;
    border-bottom: 1px solid rgb(119, 119, 119);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px 70px 0;
    color: white;
  }
  min-height: 100vh;
  border-bottom: 1px solid rgb(119, 119, 119);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 0;
  color: white;
  h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  span {
    color: #5fc4b7;
    font-size: 20px;
    font-weight: 600;
  }
  &__wrapper {
    display: flex;
    margin-top: 20px;
  }
  &__list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    &-item {
      margin: 10px;
      &__wrapper {
        width: 100%;
      }
      div {
        @include xl {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 0 20px;
          align-items: center;
          margin: 10px 0;
        }
        width: 97%;
        display: flex;
        justify-content: center;
        padding: 0 20px;
        align-items: center;
        margin: 10px 0;
        a {
          font-weight: 600;
          font-size: 23px;
          transition: 0.3s all;
          &:hover {
            color: #5fc4b7;
          }
        }
      }
    }
  }
  &__image-wrapper {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
  }
  &__image {
    @include sm {
      width: 300px;
      height: 300px;
      object-fit: cover;
      transition: 0.7s all;
    }
    width: 240px;
    height: 260px;
    object-fit: cover;
    transition: 0.7s all;
  }
  &__image:hover {
    transform: scale(1.05);
  }
}
.slick-slider.slick-initialized {
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-list {
  @include sm {
    width: 400px;
  }
  width: 260px;
}
.slick-arrow.slick-prev::before {
  @include sm {
    font-size: 40px;
  }
  font-size: 0px;
}
.slick-arrow.slick-next::before {
  @include sm {
    font-size: 40px;
  }
  font-size: 0px;
}
.slick-dots li.slick-active button::before {
  opacity: 0.75;
  color: #5fc4b7;
}

.slick-dots > li > button::before {
  opacity: 0.5;
  color: #fff;
  font-size: 10px;
}
